@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: 0.1rem repeat(3, 1.7fr) 0.1rem;
        grid-gap: 2rem;
    }
    .card {
        margin: 5rem 0;
        
    }
    
    .logo-footer {
        margin-left: -15rem;
    }
}

@media only screen and (max-width: 990px) {
    html {
        font-size: 88%;
    }
    .hero {
        height: 70vh;
    }
    .menu {
          height: 6rem;
          font-size: 1.5rem;
          grid-gap: .2px;
          align-items: center;
          text-align: center;
        border-top: 1px solid #333;}
    
    .london {
          grid-gap: .8rem;
          padding: 5rem 2rem 10rem;
          grid-template-columns: repeat(11, 1fr);
          grid-template-rows: repeat(5, 7vw); }
    .card {
        margin: 3rem 0;
        
    }
    
}

