@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: 0.1rem repeat(3, 1.7fr) 0.1rem;
        grid-gap: 2rem;
    }
    .card {
        margin: 5rem 0;
        
    }
    
    .logo-footer {
        margin-left: -15rem;
    }
}

@media only screen and (max-width: 990px) {
    html {
        font-size: 78%;
    }
    .hero {
        height: 70vh;
    }
    
    .header {
          height: 4rem;
          grid-template-columns: 2fr 1px 3.5fr 1px .6fr;
          align-items: center;
          position: relative; }
    .menu {
          height: 6rem;
          font-size: 1.45rem;
          font-weight: 300;
          }
    
    .london {
          grid-gap: .8rem;
          padding: 5rem 2rem 10rem;
          grid-template-columns: repeat(11, 1fr);
          grid-template-rows: repeat(5, 7vw); }
    .card {
        margin: 3rem 0;
        
    }
    .text-container {
        grid-gap: 0;
    }
    .transport-text {
          padding: 0rem; }
    .info-text {
          grid-column: 3 / 9;
          padding: 2rem;
     }
    .ticket {
        grid-template-columns: .2rem repeat(9,1fr) .2rem;
    }
    .img-container {
        background-size: 100%;
    }
    .card-todo {
        grid-column: 1 / -1;
        grid-template-columns: .2rem repeat(3, 1fr) .2rem;
        grid-gap: 1.5rem;
    }
    
    .card-rest {
        width: 90%;
    }
    .offers {
        display: ;
    }
}

